html{
    background:blue;
    width:100%;
    height:100%;
}

body{
   
    
}
:root{
    --margin-top:100px
    
}

.nav_fixed{
width:100%;
}
.section_information_user{
    margin-top:var(--margin-top);
    
}
.section_publications{
    margin: var(--margin-top) 32px 0px 32px;
}
.section_others{
    margin-top:var(--margin-top);

}