.button-cerrar {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    margin: 8px;
    color: #fff;
    transition: all 0.4s;
}

.button-cerrar svg {
    width: 24px;
    height: 24px;
}

.button-cerrar:hover {
    background-color: red;
    color: #fff;
    overflow: hidden;
}


.textarea::placeholder {
    color: black;

}

.textarea {
    resize: none;
    padding: 12px;
    color: blue;
}

.textarea:focus-visible {
    border: none;
    outline: none;
    background-color: blue;
    padding: 12px;
}