@import '@radix-ui/colors/gray.css';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dancing+Script:wght@400..700&family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+HK:wght@100..900&family=Press+Start+2P&family=Princess+Sofia&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-bg-color: #111111;
    --components-bg-color: rgba(255, 87, 51, 0.5);
    --tittles-color: #EEEEEE;
    --tittles--size: 24px;
    --background: linear-gradient(20deg, #363637, 20%, #000000);
    --color-text-p: #B4B4B4;
    --color-text-h4: #EEEEEE;

}

html {
    font-family: "Chakra Petch", sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    background: #363637;
    font-family: "Roboto", sans-serif;
    align-items: center;

}

h4 {
    color: var(--color-text-h4);
    padding: 12px 0px 0px 0px;
}

p {
    color: var(--color-text-p)
}


.login {

    border-radius: 16px;
    background: rgb(32 32 32 / 50%);

    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 70%;
    max-width: 80%;
    min-height: 400px;
    min-width: 500px;

}

.app_description {
    display: flex;
    color: #fff;
    padding: 12px;
    flex-direction: column;
}



.app_description h4 {
    color: #fff;
    font-size: 20px;
}

.login .contenido_login {
    box-shadow: -10px 0 10px -5px rgb(9 14 38 / 80%);

}

input {
    padding: 8px 12px;
    background-color: #fff;
    border-radius: 12px;
    border: none;
}

.btn-Ingresar {
    padding: 12px;

    background: linear-gradient(49deg, #0d0d62, 70%, #0a0a0a);
    color: #fff;
    border: none;
    border-radius: 8px;
}



.btn-Register {
    margin: 0 12px;
    border: none;
    background: #6a9be3;
    color: var(--tittles-color);
    border-radius: 12px;
    padding: 12px;

}

.btn-mostrar_Form {
    background-color: transparent;
    color: #fff;
    border: none;
    text-decoration: underline;
}

/* edicion del formulario */
.register {
    width: 50%;
    background: var(--);
}


.informacionForm, h1, p {
    margin: 0;
    padding: 0;
}

.formulario input {
    width: 10%;
}

h1 {
    color: var(--tittles-color);
}

p, label {
    color: var(--color-text-p);
}