{% extends 'base.html' %}

{% block configuracion %}
  <div class="d-flex">
    <div class="d-flex justify-content-center align-items-center flex-column">
      <h1>Informacion de la cuenta</h1>

      <button>cambiar imagen</button>
      <div style="display: none;">
        <h2>Subir Imagen</h2>
        <form action="/upload" method="post" enctype="multipart/form-data">
          <input type="file" name="image" />
          <input type="submit" value="Subir" />
        </form>
      </div>
    </div>
    <div class="col">
      <form class="formulario d-flex flex-column align-items-center justify-content-center w-100" action="guardar_registro" method="post">
        <div class="entrada d-flex flex-column justify-content-center align-items-center w-100">
          <label for="">Desea ajustar sus dato?</label>
          <h4>Digite su nombre</h4>
          <input class="w-50" type="text" name="nombre" />
        </div>
        <div class="entrada d-flex flex-column justify-content-center align-items-center w-100">
          <h4>Digite su apellido</h4>
          <input class="w-50" type="text" name="apellido" />
        </div>
        <div class="entrada d-flex flex-column justify-content-center align-items-center w-100">
          <h4>Digite su correo</h4>
          <input class="w-50" type="email" name="correo" />
        </div>
        <div class="entrada d-flex flex-column justify-content-center align-items-center w-100">
          <h4>Digite su contraseña</h4>
          <input class="w-50" type="password" name="contraseña" />
        </div>
        <div class="entrada d-flex flex-column justify-content-center align-items-center w-100">
          <h4>Verifique su contraseña</h4>
          <input class="w-50" type="password" name="configContraseña" />
        </div>
        <div class="entrada d-flex flex-column justify-content-center align-items-center w-100 d-flex row p-2">
          <div class="d-flex m-2">
            <h4>Acuerdo de tratamiento de datos</h4>
            <label class="m-2" for="">Esta de acuerdo con nuestros términos y condiciones</label>
          </div>
          <p class="text-center">
            Estoy de acuerdo.<input type="checkbox" />
          </p>
        </div>
        <div>
          <a href=""><button class="btn-Register" type="submit">Registrar Informacion</button></a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
