<!--       heredado del archivo base 
       -->
{% extends 'base.html' %}
<!--       
    
       -->
<!--       

       -->
{% block contenedor %}
  <div class="login ">
    <div id="app_description" class="app_description col-7">
      <h1>LinealChat</h1>
      <p>Ingresa a nuestra app o crea una cuenta y comparte con los demás usuarios.</p>
      <!--<span><img src="{{url_for( 'static', filename = 'img/app_initial.png')}}" alt=""></span>-->
    </div>
    <div class="contenido_login col justify-content-center text-center" id="contenido_login">
      <h4>Correo o usuario</h4>
      <input class="input_email" type="email" name="" id="" placeholder="email ou username" />
      <h4>Password</h4>
      <input class="input_password" type="password" name="" id="" placeholder="password" />
      <button class="btn-Ingresar mt-2">Ingresar</button>
    <div class="row"> 
      <button class="btn-mostrar_Form">¿Olvidaste tu contraseña?</button>

      <p>No tienes cuenta</p>
      <button id="mostrar_Form" class="btn-Register">Registrate</button>
    </div>
  </div>

  <div class="register" id="register" style="display: none;">
    <form class="row g-3 flex">
      <div class="col-md-4">
        <h4>Digita tu nombre y apellido</h4>
        <label for="validationServer01" class="form-label">First name</label>
        <input type="text" class="form-control is-valid" id="validationServer01" value="Mark" required />
      </div>
      <div class="col-md-4">
        <h4>¿Cual es tu ciudad de recidencia?</h4>
        <label for="validationServerUsername" class="form-label">Username</label>
        <div class="input-group">
          <span class="input-group-text" id="inputGroupPrepend3">@</span>
          <input type="text" class="form-control "   />
        </div>
      </div>
      <div class="col">
        <h4>Digita tu nombre y apellido</h4>
        <label for="validationServer03" class="form-label">Ciudad de residencia</label>
        <input type="text" class="form-control " />
      </div>
      <div class="row">
        <div class="col-md-3">
          <h4>Contraseña</h4>
          <label for="validationServer04" class="form-label">State</label>
          <select class="form-select " >
          </select>
          
        </div>
        <div class="col-md-3">
          <h4>Verifica tu contraseña</h4>F
          <label for="validationServer05" class="form-label">Zip</label>
          <input type="text" class="form-control "/>
         
        </div>
      </div>
      <div class="flex-column col-12 d-flex  justify-content-center ">
       <p>Conoce nuestro terminos y condiciones.</p>
       <span><p>¿Aceptas nuestros terminos y condiciones?</p> <input type="checkbox"></span>
      
      </div>
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Submit form</button>
        <button id='btn_volverLogin' class="btn btn-danger" type="submit">Volver</button>
      </div>
    </form>
  </div>
{% endblock %}
