{% extends 'base.html' %}

{% block pagina_principal %}
  <nav class="nav_fixed d-flex justify-content-around align-items-center">
    <div>
      <h1>LinealChat</h1>
    </div>
    <div>
      <a href="">Configuracion de cuenta</a>
      <img src="{{ url_for('static', filename='img/icons/configuraciones.png') }}" alt="" />
    </div>
    <div>
      <a href="">Mensajes</a>

      <img src="{{ url_for('static', filename='img/icons/chat.png') }}" alt="" />
    </div>
  </nav>

  <!-- seccion para las configfuraciones de cada usuario -->
  <h2>Subir Imagen</h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <input type="submit" value="Subir" />
  </form>

  <div class="d-flex mt-5">
    <div class="d-flex col-3 flex-column">
      <div class="justify-content-center text-center">
        <!-- imagen recibida del ususario -->
        <span><img src="data:image/jpeg;base64,{{ imagen_base64 }}" alt="Imagen de {{ nombre_usuario }}" /></span>
        <p></p>
      </div>
      <div class="row">
        <span class="d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/icons/Icon_friend.png') }}" alt="" />
          <p class="m-1">Amigos</p>
        </span>
        <span class="d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/icons/imagen-icon.png') }}" alt="" />
          <p class="m-1">Fotos</p>
        </span>
        <span class="d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/icons/publication-icon.png') }}" alt="" />
          <p class="m-1">Publicaciones</p>
        </span>
        <span class="d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/icons/guardado-icon.png') }}" alt="" />
          <p class="m-1">Guardados</p>
        </span>
        <span class="d-flex align-items-center">
          <img src="{{ url_for('static', filename='img/icons/solicitud-icon.png') }}" alt="" />
          <p class="m-1">Solicitudes</p>
        </span>
      </div>
    </div>

    <div class="section_publications d-flex col flex-column">
      <div class="d-flex flex-column">
        <div class="row">
          <!-- imagen recuperadad del usuario -->
          <img src="" alt="" />
          <input type="text" />
        </div>
        <div class="row">
          <span class="d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
              <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z" />
            </svg>
            <p>imagen</p>
          </span>
          <span class="d-flex justify-content-center align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-fast-forward-btn" viewBox="0 0 16 16">
              <path d="M8.79 5.093A.5.5 0 0 0 8 5.5v1.886L4.79 5.093A.5.5 0 0 0 4 5.5v5a.5.5 0 0 0 .79.407L8 8.614V10.5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814z" />
              <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1z" />
            </svg>
            <p>video</p>
          </span>
        </div>
      </div>
      <div class="d-flex row">
        <div class="col flex-column">
          <h5>nombreUsuario</h5>
          <img src="" alt="imagen" />
        </div>
        <div class="col">
          <span class="flex-column">
            <img src="" alt="imagen" />
            <p>fecha</p>
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
