{% extends 'base.html' %}

{% block contenedor %}
  <div class="cointainer d-flex row justify-content-center align-content-center" style="background-color: rgba(255,255,255,0.2); border-radius: 12px; filter: opacity(1);">
    <h4 class="text-center">Informacion de usuario</h4>
    <div class="d-flex justify-content-center flex-column">
      <h6 class="" style="color: #fff;">Digiftela informacion que desea ingresar</h6>
      <textarea name="" id="" cols="30" rows="10" style="border-radius: 12px;"></textarea>
      <div class="m-0">
        <ul class="d-flex p-3 m-3 justify-content-around" style="color: #fff; list-style: none;  ">
          <li class='m-2'><a href="" class="" style="color: #fff;text-decoration:none;">Ingresar texto</a></li>
          <li class='m-2'><a href="" class="" style="color: #fff;text-decoration:none;">Ingresar Imagen</a></li>
          <li class='m-2'><a href="" class="" style="color: #fff;text-decoration:none;">Ingresar Audio</a></li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
